html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #112c44;
	color: #fff; 
  font-family: 'Roboto Condensed', sans-serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/bg.png');
  background-size: cover;
  opacity: 0.3;
  z-index: -1;
}

header {
  overflow: visible;
  width: max-content;
  margin: 0 auto;
}

header img {
  height: 250px;
  display: block;
  margin: 0 auto;

  filter: drop-shadow(0 4px 12px rgba(212, 175, 55, 0.35));
}

h1 {
  display: inline-block;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  position: relative;
  top: -0.6em;
  font-size: 2.4em;
  padding: 0 0 0 0.5em;
  margin: 0;}

h2 {
  color: #b5b6c1;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: -0.5em;
  margin-bottom: 0.5em;
  padding: 0;
}

section {
  padding: 1em;
  width: max-content;
  margin: 0 auto 0 auto;
}

table {
  border-collapse: collapse;
}

td, th {
  padding: 0.3em 2em 0.3em 0;
}

th:last-child {
  padding: 0;
}

tr:nth-child(2) td {
  padding-top: 0.6em;
}

th {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border-bottom: 1px solid #6f7381;
  font-weight: normal;
  color: #b5b6c1;
}

td.overdrawn {
  color: yellow;
  padding: 0.3em 2em 0.3em 0;
}

p {
  margin-bottom: 1.6em;
}

.important {
  color: #ffffff;
}

td.overdrawn {
  color: #fca905;
}

